
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<form class="container" style="width:400px; height:400px">
    <h2 class="text-center">Login</h2>
    <label class="">UserName</label>
    <input class="form-control" type="text" />
    <br />
    <label>Password</label>
    <input class="form-control" type="password" />
    <button>Submit</button>
</form>